.feedback-inside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  margin: 20vh auto;
  text-align: center;
}

#open-ranking-button {
  width: 170px;
}

#open-ranking-button svg,
#play-again-btn svg {
  margin-left: 10px;
}
