.game-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
}

.counter-container{
  text-align: center;
  width: 100%;
}

#correct-answered {
border: 2px solid #178be9;
}

#wrong-answered {
  border: 2px solid #F44336;
}
